body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-upload-list-picture-card-container{
  display: none !important;
}

.ant-upload-picture-card-wrapper{
  width: 240px!important;
}

.ant-upload.ant-upload-select-picture-card{
  margin: 0!important;
}
.ant-upload{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  width: fit-content !important;
  height: 100%!important;
  border: none!important;
  background: white!important;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: azure;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.images{
  width: 240px;
}
.button{
  width: 180px;
  height: 60px;
  margin-left: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.ant-upload-picture-card-wrapper:hover{
  box-shadow: 0 5px 15px rgba(9, 27, 75, 0.1);
}
.button:hover{
  font-size: 16.5px;
  box-shadow: 0 5px 15px rgba(9, 27, 75, 0.1);
}